a, a:visited {text-decoration:none; color : #efe;}
div,ul,h1,h3 { margin:0;}

ul {list-style-type : none; padding : 0;}
html { background-color:#fff; font-family: 'juaregular', serif; }
body { color : #000; margin:0;}

.content { background-color : #fff; color : #333; padding : 30px; margin-bottom:30px;z-index=5;}
.welcome-box { height : 300px; overflow:hidden; display : flex-start;}
.welcome-box img {
	width: 100%; 
	height:300px;
	position: absolute;
	object-fit : cover;
	z-index: -1;
}

#welcome-backg0 {display : inline;}
#welcome-backg1 {display : none;}
#welcome-backg2 {display : none;}

.welcome-box .change-prev {
	position : absolute;
	top: calc(128px); 
    transform: translate(0,0); 
    height: 150px; 
    width: 80px; 
    background-color: white; 
	border-radius: 0 75px 75px 0;
	left: 0; 
	opacity: 0.3;
	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	font-size : 5em;
	z-index:1;
}
.welcome-box a { text-decoration:none; color : #000;}

.welcome-box .change-next {
	position : absolute;
	top: calc(128px);  
    right: 0; 
    transform: translate(0,0); 
    height: 150px; 
    width: 80px; 
    border-radius: 75px 0 0 75px; 
    background-color: white; 
	opacity: 0.3;
	display: flex;
	text-align: right;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	font-size : 5em;
	z-index:1;
}

.footer { color :#8f8fff; border-radius: 30px; margin :10px; padding : 2em; padding-top:3em; text-align : center; background-color : #eef; font-family: Arial; font-weight:bold; line-height:27px; letter-spacing:1px;}
.footer a {color:#8f8fff; text-decoration:underline; }
.footer a:hover {text-decoration:none;}

.siteName { color : #fff; text-shadow : #000 1px 0 10px; position:absolute;}
h1.siteName {;font-size : 3em; padding-top : 120px; position : relative;}
h3.siteName {font-size : 1.25em; position : relative;}
a.homeText { font-family: 'Nanum Pen'; font-size:1.5em; display :inline-block;}
img.home { width:20px; height:20px; padding-left:10px; float:left; display :inline-block;}
img.hamburger { width:20px; height:20px; position:absolute; right : 10px; top :10px;}

.container-nav {background-color:#333; height : 40px; z-index:50;}
.container-nonhomes {display:none; background-color :#333; position:relative; z-index:30;}
.nav {align-content: right; background-color:#333; display:inline-grid; grid-template-columns:2fr;
  grid-auto-rows: 2fr;}
.nav ul li a {  text-transform:uppercase; color : coral;}
.nav ul li ul li a {  text-transform:uppercase; color : white;}

.nav ul li { display: inline-block;  margin : 0.5em 1em 0 1em;}

.nav ul li a :hover { z-index :10;}
.nav ul li ul {
	padding : 0;
  	opacity: 0;
  	position: auto;
  	margin-top: 1rem;
  	left: 0;
	z-index :10;
	visibility: visible;
	opacity: 1;
	display: block;
}

.nav ul li ul li { clear: both; width: 100%; display: block; float : left;  z-index :0;}
	ul li ul li a:hover { text-decoration:underline;}

#to-the-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#to-the-top::after {
  content: "\f077";
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#to-the-top:hover {
  cursor: pointer;
  background-color: #333;
}
#to-the-top:active {
  background-color: #555;
}
#to-the-top.show {
  opacity: 1;
  visibility: visible;
}



@media (max-width : 759px) {
}


@media (min-width : 760px) {
img.hamburger { display:none; }
.container-nav {height : 61px;}
.container-nonhomes {display:inline-block;}
	
.nav {align-content: center; background-color:#333;}
.nav ul li a {  text-transform:uppercase; color : #fff;}

.nav ul li {padding: 1em; display: inline-block; transition-duration: 0.5s; margin : 0.5em 1em 0 1em;}

.nav ul li a :hover { z-index :10;}
.nav ul li ul {
	padding : 0;
  	opacity: 0;
  	position: absolute;
  	margin-top: 0.8em;
  	left: 0;
  	display: none;
	background-color:#1ac;
	z-index :10;

}
#ul1{ margin-left:0; }
#ul2{ margin-left:160px; }
#ul3{ margin-left:300px; }
#ul4{ margin-left:420px; }
	
.nav ul li:hover > ul,
.nav ul li ul:hover {visibility: visible; opacity: 1; display: block;  z-index :10;}

.nav ul li ul li {clear: both; width: 100%; display: block; float : left; transition-duration: 0.5s;  z-index :0;}
.nav ul li ul li a:hover { text-decoration:underline;}
}
