
h1 {font-size: 45px;}
h2 {font-size: 40px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 22px;}
h6 {font-size: 20px;}
p {font-size: 18px;}

:root {
	--dark : black;
  --font-size-h1 : 50px;
  --font-size-h2 : 40px;
  --font-size-h3 : 30px;
  --font-size-h4 : 25px;
  --font-size-h5 : 22px;
  --font-size-h6 : 20px;
  --normal-size : 18px;

	--nav-shrink-height : 110px;
	--nav-stretch-height : 220px;

	--welcome-box-height : 60vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

a, a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
}

nav {
	position: absolute;
	display : flex;
	flex-direction : column;
	justify-content : center;
	text-align : center;
	right: 0;
	left : 0;
	height : var(--nav-shrink-height);
	padding : 20px 30px 0 30px;
	background-color : var(--dark);
	color : white;
	z-index : 1000;
	transition : all .3s ease-in-out;
}

nav:hover {
	height : var(--nav-stretch-height);
}

nav h1#logo {
	font-size : var(--font-size-h3);
}

nav label {
	font-size : var(--font-size-h4);
}

nav label:after {
	content : ' ';
	display :inline-block;
	position : relative;
	width : 100%;
	margin-top : 5px;
	border : 1px white solid;
}

#ham {
	display : none;
}

#main-nav-ul {
	display : flex;
	overflow : hidden;
	height : 100%;
	gap : 30px;
	justify-content: space-around;
}

#main-nav-ul > li {
	display: inline-flex;
	position : relative;
	flex-direction : column;
	gap : 15px;
}

#main-nav-ul .nested-ul {
	display: inline-flex;
	flex-direction: column;
	gap : 10px;
}

main {
	display : block;
	position : relative;
	padding-top : var(--nav-shrink-height);
}

welcome-box {
	position : relative;
	display : inline-flex;
	height: var(--welcome-box-height);
	width : 100%;
	flex-direction: column;
	justify-content: center;
	align-items : center;
	background : transparent;
	color : white;
	overflow : hidden;
	font-size : 1.5em;
}

welcome-box * {
	z-index : 2;
}

welcome-box *:not(button) {
	text-shadow: 0 0 10px var(--dark);
}

banner-container {
	position: absolute;
	display : inline-flex;
	height : var(--welcome-box-height);
	width : 100%;
	top : 0;
	left : 0;
	z-index: 1;
	transition : all .3s ease-in-out;
}

banner-container.first {
	left : 0;
}

banner-container.second {
	left : -100%;
}

banner-container.third {
	left : -200%;
}
banner-container > banner {
	width : 100%;
	flex-shrink: 0;
	z-index :1;
	display : flex;
	align-items: flex-end;
}

banner img {
	width : 100%;
	transform: translateY(25%);
}

button.banner-button {
	position: absolute;
	display: inline-flex;
  height: 80px;
  width: 80px;
	border-radius: 80px;
	top : 50%;
  align-content: center;
	font-size: 2em;
}

button#change-prev {
		left: 0;
		justify-content: flex-end;
		padding-right : 10px;
		transform: translate(-50%, -50%);
}

button#change-next {
	right: 0;
	justify-content: flex-start;
	padding-left : 10px;
	transform: translate(50%, -50%);
}

content {
	position :relative;
	display : block;
	margin : 50px 20vw;
	min-height : 30vh;
}

#quick-reserv {
	display : inline-flex;
	gap : 1%;
	justify-content : center;
	align-items: center;
	margin-top : 10px;
	width : 100%;
}

#quick-reserv form {
	display : inline-flex;
	gap : 10px;
	max-width : 70%;
}

.quick-date {
	height: 30px;
	width : 40%;
	border : 3px var(--dark) solid;
	padding: 6px;
}

input#quick-submit {
	color : white;
	height : 30px;
	padding : 0 10px;
	background-color: var(--dark);
	border : 3px var(--dark) solid;
	display : inline-flex;
	align-items: center;
	border : none;
}

footer {
	color :#333;
	padding: 2em;
	padding-top: 3em;
	text-align : right;
	margin : 0 20vw;
	display : flex;
	justify-content: space-between;
}

footer a {
	color:#8f8fff;
}

@media (max-width: 760px) {
	h1 {font-size: 25px;}
  h2 {font-size: 20px;}
  h3 {font-size: 18px;}
  h4 {font-size: 16px;}
  h5 {font-size: 15px;}
  h6 {font-size: 14px;}
  p {font-size: 14px;}

  :root {
    --font-size-h1 : 25px;
    --font-size-h2 : 20px;
    --font-size-h3 : 18px;
    --font-size-h4 : 16px;
    --font-size-h5 : 15px;
    --font-size-h6 : 14px;
    --normal-size : 14px;

		--nav-shrink-height : 80px;
		--nav-stretch-height : 200px;

		--welcome-box-height : 60vh;
  }

	banner img {
		height : 100%;
		transform: none;
	}

	#quick-reserv {
		gap : 10px;
	}

	#quick-reserv form {
		gap : 1%;
	}

	.quick-date {
		width : 30%;
	}

	input#quick-submit {
		color : white;
		height : 30px;
		padding : 0 10px;
		background-color: var(--dark);
		border : 3px var(--dark) solid;
		display : inline-flex;
		justify-content : center;
		align-items: center;
		border : none;
	}
}
